$main-fonts: 'Zilla Slab',
serif; //font-family: $main-fonts;
$colors: (one: #000000, two: #FFFFFF, three: #FFF44F);

//La fonction pour appeler la varaiable des couleurs
@function color($color-name) {
    @return map-get($colors, $color-name)
}

;

//Le design générales pour tout les objets de la page
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

//Le design générales pour tout les texte et titres
h1,
p {
    font-family: $main-fonts;
}


//Le design générales des objets de l'ecran 1 ; ex: flexbox
.part1 {
    height: 100vh;
    background-color: color(one);
    display: flex;
    justify-content: center;
    align-items: center;
    background: no-repeat center url("/img/backgroundPage1.jpg");
    background-size: cover;

    h1 {
        color: color(one);
        font-size: 4em;
        text-shadow: 0 -3px 0 #333,
            0 6px 8px rgba(0, 0, 0, .4),
            0 9px 10px rgba(0, 0, 0, .15),
            0 30px 10px rgba(0, 0, 0, .18),
            0 15px 10px rgba(0, 0, 0, .21);
        margin-top: -25%;
    }

    .navbar {
        height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
        background-color: red;
    }
}

//Le design générales des objets de l'ecran 2 ; ex: flexbox
.part2 {
    height: 100vh;
    background-color: red;
}

//Le design générales des objets de l'ecran 3 ; ex: flexbox
.part3 {
    height: 100vh;
    background-color: pink;
}

//Le design générales des objets de l'ecran 4 ; ex: flexbox
.part4 {
    height: 100vh;
    background-color: color(two);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

//Le design générales des objets de l'ecran 5 ; ex: flexbox
.part5 {
    height: 100vh;
    background-color: blue;
}

//Le design générales des objets de l'ecran 6 ; ex: flexbox
.part6 {
    height: 100vh;
    background-color: red;
}