* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
p {
  font-family: "Zilla Slab", serif;
  font-weight: lighter;
}

span {
  background-color: #FFFFFF !important;
}

#fp-nav ul li .fp-tooltip {
  font-family: "Zilla Slab", serif !important;
  font-size: 3.5vh !important;
  line-height: 4vh !important;
  top: -6px !important;
}

.part1 {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: no-repeat bottom url("../img/background.jpg");
  background-size: cover;
  background-color: #FFF44F;
}

.part1 #logoP1 h2 {
  color: #FFFFFF;
  font-family: "Zilla Slab", serif;
  position: absolute;
  top: 0;
  left: 0;
  margin: 30px 0 0 60px;
  font-weight: bold;
  font-size: 4.4vh;
}

.part1 #titreP1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -120px;
  margin-bottom: 40px;
  border-bottom: 3px solid #FFF44F;
  width: 348px;
  text-align: center;
}

.part1 #titreP1 h1 {
  color: #000000;
  font-size: 8em;
  text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;
  font-weight: bold;
}

.part1 #titreP1 p {
  font-family: "Zilla Slab", serif;
  color: #FFFFFF;
  font-size: 4.4vh;
  font-weight: bold;
}

.part1 #textanimP1 h2 {
  text-align: center;
  font-size: 4.4vh;
  font-family: "Zilla Slab", serif;
  color: #FFFFFF;
  margin: 0 !important;
  font-weight: bold;
}

.part1 #textanimP1 h2 span {
  background-color: #000000 !important;
  font-weight: lighter !important;
  color: #FFFFFF;
}

.part2 {
  height: 100vh;
  background-color: #000000;
  color: #FFFFFF;
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.part3 {
  height: 100vh;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.part3 .imagecontainerP3 {
  margin-left: 60px;
  height: 70%;
  width: 50%;
}

.part3 .descriptionP3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 0 15% 0 60px;
  padding-right: 3%;
}

.part3 .descriptionP3 h2 {
  font-size: 5.9vh;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 5.9vh;
}

.part3 .descriptionP3 h2 span {
  text-shadow: -1px 0 #FF4F5E, 0 1px #FF4F5E, 1px 0 #FF4F5E, 0 -1px #FF4F5E !important;
  color: #000000 !important;
  background-color: #000000 !important;
  font-weight: bold;
  text-transform: uppercase;
}

.part3 .descriptionP3 p {
  font-family: "Zilla Slab", serif;
  color: #FFFFFF;
  font-size: 3.2vh;
  font-weight: lighter;
}

.part4 {
  height: 100vh;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.part4 .imagecontainerP4 {
  margin-right: 15%;
  height: 70%;
  width: 40%;
}

.part4 .descriptionP4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: 0 60px 0 60px;
}

.part4 .descriptionP4 h2 {
  font-size: 5.9vh;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 5.9vh;
}

.part4 .descriptionP4 h2 span {
  text-shadow: -1px 0 #54FFBD, 0 1px #54FFBD, 1px 0 #54FFBD, 0 -1px #54FFBD !important;
  color: #000000 !important;
  background-color: #000000 !important;
  font-weight: bold;
  text-transform: uppercase;
}

.part4 .descriptionP4 p {
  font-family: "Zilla Slab", serif;
  color: #FFFFFF;
  font-size: 3.2vh;
  font-weight: lighter;
}

.part4 .descriptionP4 p span {
  color: #FFFFFF !important;
  background-color: #000000 !important;
  font-weight: bold;
  text-transform: uppercase;
}

.part5 {
  height: 100vh;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.part5 .imagecontainerP5 {
  margin-left: 60px;
  height: 70%;
  width: 50%;
}

.part5 .descriptionP5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 0 15% 0 60px;
  padding-right: 3%;
}

.part5 .descriptionP5 h2 {
  font-size: 5.9vh;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 5.9vh;
}

.part5 .descriptionP5 h2 span {
  text-shadow: -1px 0 #00FFFF, 0 1px #00FFFF, 1px 0 #00FFFF, 0 -1px #00FFFF !important;
  color: #000000 !important;
  background-color: #000000 !important;
  font-weight: bold;
  text-transform: uppercase;
}

.part5 .descriptionP5 p {
  font-family: "Zilla Slab", serif;
  color: #FFFFFF;
  font-size: 3.2vh;
  font-weight: lighter;
}

.fp-slidesNav ul {
  margin-left: 44% !important;
}

.part6Elements {
  background-color: #000000;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Zilla Slab", serif;
}

.part6Elements .descriptionP6 {
  margin-left: 60px;
}

.part6Elements .descriptionP6 h2 {
  font-size: 5.9vh;
  color: #FFFFFF;
  font-weight: bolder;
  line-height: 5.9vh;
}

.part6Elements .descriptionP6 h2 span {
  text-shadow: -1px 0 #FFF44F, 0 1px #FFF44F, 1px 0 #FFF44F, 0 -1px #FFF44F !important;
  color: #000000 !important;
  background-color: #000000 !important;
  font-weight: bolder;
  text-transform: uppercase;
}

.part6Elements .descriptionP6 h2 #descriptionP6_2 {
  text-shadow: -1px 0 #00FFFF, 0 1px #00FFFF, 1px 0 #00FFFF, 0 -1px #00FFFF !important;
}

.part6Elements .descriptionP6 h2 #descriptionP6_3 {
  text-shadow: -1px 0 #FF4F5E, 0 1px #FF4F5E, 1px 0 #FF4F5E, 0 -1px #FF4F5E !important;
}

.part6Elements .descriptionP6 h2 #descriptionP6_4 {
  text-shadow: -1px 0 #54FFBD, 0 1px #54FFBD, 1px 0 #54FFBD, 0 -1px #54FFBD !important;
}

.part6Elements .descriptionP6 h2 #descriptionP6_5 {
  text-shadow: -1px 0 #FFF44F, 0 1px #FFF44F, 1px 0 #FFF44F, 0 -1px #FFF44F !important;
}

.part6Elements .descriptionP6 p {
  font-size: 3.2vh;
  width: 275px;
  color: #FFFFFF;
  margin: 3px 0 25px 0;
  font-weight: lighter;
}

.part6Elements .descriptionP6 .buttonP6 {
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  background-color: #000000;
  text-decoration: none;
  outline: none;
  font-family: "Zilla Slab", serif;
}

.part6Elements .descriptionP6 #buttonP6_1 {
  border: 2px solid #FFF44F;
  color: #FFF44F;
}

.part6Elements .descriptionP6 #buttonP6_1:hover {
  background-color: rgba(255, 244, 79, 0.1);
}

.part6Elements .descriptionP6 #buttonP6_1:active {
  background-color: rgba(255, 244, 79, 0.1);
}

.part6Elements .descriptionP6 #buttonP6_2 {
  border: 2px solid #00FFFF;
  color: #00FFFF;
}

.part6Elements .descriptionP6 #buttonP6_2:hover {
  background-color: rgba(0, 255, 255, 0.1);
}

.part6Elements .descriptionP6 #buttonP6_2:active {
  background-color: rgba(0, 255, 255, 0.1);
}

.part6Elements .descriptionP6 #buttonP6_3 {
  border: 2px solid #FF4F5E;
  color: #FF4F5E;
}

.part6Elements .descriptionP6 #buttonP6_3:hover {
  background-color: rgba(255, 79, 94, 0.1);
}

.part6Elements .descriptionP6 #buttonP6_3:active {
  background-color: rgba(255, 79, 94, 0.1);
}

.part6Elements .descriptionP6 #buttonP6_4 {
  border: 2px solid #54FFBD;
  color: #54FFBD;
}

.part6Elements .descriptionP6 #buttonP6_4:hover {
  background-color: rgba(84, 255, 189, 0.1);
}

.part6Elements .descriptionP6 #buttonP6_4:active {
  background-color: rgba(84, 255, 189, 0.1);
}

.part6Elements .descriptionP6 #buttonP6_5 {
  border: 2px solid #FFF44F;
  color: #FFF44F;
}

.part6Elements .descriptionP6 #buttonP6_5:hover {
  background-color: rgba(255, 244, 79, 0.1);
}

.part6Elements .descriptionP6 #buttonP6_5:active {
  background-color: rgba(255, 244, 79, 0.1);
}

#imagecontainerP6_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: no-repeat center url(../img/imagesSlides/VS.png);
  background-size: cover;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  margin: 0 60px 0 100px;
}

#imagecontainerP6_1 span img {
  height: 65%;
  width: 65%;
}

#imagecontainerP6_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: no-repeat center url(../img/imagesSlides/HTMCSS.png);
  background-size: cover;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  margin: 0 60px 0 100px;
}

#imagecontainerP6_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: no-repeat center url(../img/imagesSlides/JS.png);
  background-size: cover;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  margin: 0 60px 0 100px;
}

#imagecontainerP6_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: no-repeat center url(../img/imagesSlides/Progra.png);
  background-size: cover;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  margin: 0 60px 0 100px;
}

#imagecontainerP6_5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: no-repeat center url(../img/imagesSlides/git.png);
  background-size: cover;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  margin: 0 60px 0 100px;
}
/*# sourceMappingURL=main.css.map */

/*debut de la partie top 10*/
.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards .card {
  height: 440px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 20px 30px -10px rgba(0, 0, 0, 0.1);
  max-width: 30px;
  min-width: 260px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: all 0.4s ease;
  margin: 0 10px;
}
.cards .card:before {
  height: 190px;
  width: calc(100% + 100px);
  content: "";
  position: absolute;
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
  border-radius: 4px 4px 100% 100%;
  transition: all 0.4s ease-out;
  top: 0;
}
.cards .card .close {
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  background-image: url("https://rafaelalucas91.github.io/assets/icons/misc/cross.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 5px;
  transition: all 0.2s ease;
  background-color: transparent!important;
}

span.close{
  
}

.cards .card .close:hover {
  background-size: 100%;
  opacity: 0.8;
}
.cards .card .arrow {
  display: none;
}
.cards .card article {
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.cards .card article h2 {
  color: white;
  margin: 0;
  padding: 40px 20px 10px 20px;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.5px;
}
.cards .card article .title {
  color: white;
  padding: 10px 20px;
  letter-spacing: 0.8px;
  transition: all 0.4s ease;
  border-radius: 50px;
  background-color: yellow;
}
.cards .card article .desc {
  padding: 10px 30px;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  color: #666;
  height: 90px;
  transition: all 0.4s ease-out;
}
.cards .card article .pic {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 100%;
  margin: 20px 0;
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.3);
  transition: all 0.6s ease;
}
.cards .card article .pic img {
  width: 100%;  
}
 
.cards .card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
}
.cards .card:hover:before {
  height: 100%;
  border-radius: 4px;
}
.cards .card:hover .desc {
  color: white;
}
.cards .card:hover .pic {
  box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.3);
}
.cards .card:hover .pic img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.cards .card.closed {
  min-width: 90px;
  max-width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
  cursor: pointer;
}
.cards .card.closed .title, .cards .card.closed .desc, .cards .card.closed .actions, .cards .card.closed .close {
  display: none;
}
.cards .card.closed h2 {
  padding: 0;
  height: 100%;
  transform: rotate(-90deg);
  width: 440px;
  z-index: 2;
  transition: all 0.6s ease;
}
.cards .card.closed .pic {
  border-radius: 100%;
  height: 400px;
  width: 400px;
  position: absolute;
  top: -20px;
  margin: 0;
  box-shadow: 0;
  transition: all 0.6s ease;
}
.cards .card.closed .pic img {
  object-fit: cover;
  height: 100%;
  transform: translateY(20px);
}
.cards .card.closed .pic:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
  transition: all 0.4s ease;
  transform: translateY(20px);
}
.cards .card.closed:before {
  height: 100%;
  border-radius: 4px;
}
.cards .card.closed .arrow {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  bottom: 15px;
  display: flex;
  justify-content: center;
  background-color: transparent !important;
  text-align: center;
  font-size: 2vh;
  
}
.cards .card.closed:hover .arrow {
  background-size: 100%;
  opacity: 0.6;
}

/*fin de la partie top 10*/